{% extends 'base.html' %}
{% load i18n %}
{% block title %}{% trans "Home" %}{% endblock %}
{% block content %}
<section class="my-12">
  <div class="flex flex-col items-center text-center relative">
    <!-- Cercle extérieur simulant une visualisation -->
    <div class="w-64 h-64 rounded-full border-2 border-gray-400 flex items-center justify-center relative shadow-xl">
      <!-- L'image au centre -->
      <img src="/static/images/vatosoa-razafindrazaka.jpeg"
           alt="Portrait"
           class="rounded-full w-40 h-40 object-cover shadow-lg z-10">
      <!-- Cercles concentriques tournants -->
      <div class="absolute w-72 h-72 border-2 border-dashed border-gray-400 rounded-full animate-spin-slow z-0"></div>
      <div class="absolute w-80 h-80 border border-gray-400 rounded-full opacity-50 animate-spin-slow z-0" style="animation-direction: reverse;"></div>
    </div>

    <h2 class="text-3xl font-bold mt-6">{% trans "Odoo Developer and AI Researcher" %}</h2>
    <p class="mb-4 text-lg">{% trans "Python Developer | Odoo Expert | AI Researcher" %}</p>
    <a href="{% url 'about' %}"
       class="bg-blue-600 text-white px-5 py-2 rounded-full hover:bg-blue-700 transition">
      {% trans "Learn more" %}
    </a>
  </div>
</section>
{% endblock %}
